body {
  background: black;
  text-align: center;
  color: white;
  background-image: url("../images/movie_bkg.png");
  background-size: cover;
  overflow-x:hidden;
}

h1 {
      font-size: 2em;
}

h3 {
      font-size: 1.5em;
}

h5 {
      font-size: 1em;
}

#logo {
  padding-top: 7em;

}

#searchCall {
  position:fixed;
  right: 2em;
  top: 2em;
}

input[type=text] {
  border-bottom: 1px solid #000;
}

.btn, .btn:hover {
  background-color: rgba(0,0,0,0.5);
}

.movieContainer {
  display: inline;
}

.movieResult {
  display: inline;
  
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.movie-title {
  margin-bottom: 5px;
}

.guidebox-search-results {
  position: relative;
  margin-top: 4em;
}

.active {
  position: absolute;
  left: 300;
}

.movieOverview {
  color: white;
  position: absolute;
  left: 290px;
  height: 362px;
  width: 60%;
  margin-bottom: 60px;
  background-color: black;;
  border-style: solid;
  overflow: hidden;
  overflow-y: auto;
}

.movieText {
  display: block;
  font-weight:lighter;
  font-size: 12px;
  text-align: justify;
  left: 35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-bottom: 3px solid #808080;
}

.mpaa-rating {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.genre {
  margin: 0;
  padding-bottom: 15px;
}

.commonsense, .commonsense:after {
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}

.movieLinks a, a:after {
  color: white;
  display: inline-block;
  text-decoration: none;
}

.watch {
  display: inline;
  padding-right: 10px;
}

.guidebox-search-form {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.movieLinkIcon{
  margin: 0 1em;
}

.featherlight iframe {
  width: 640px;
  height: 360px;
}

span.featherlight-close-icon.featherlight-close {
  width: 10px;
  height: 10px;
  right: 0;
}

